.about {
  min-height: 886px;
  display: grid;
  place-items: center;
  background-image: url('../../images//about-bcg.jpg');
  background-size: cover;
}

.about-container {
  height: 100%;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border-radius: 32px;
}
