.hero {
  height: 85vh;
  display: grid;
  place-items: center;
  background-image: url('../../images/bcg-hero.png');
  background-position: 92% 100%;
  background-repeat: no-repeat;
  background-size: 40vmax auto;
}
