// Override default variables before the import
@import url('https://fonts.googleapis.com/css2?family=Baloo:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$body-bg: #eff7ff;
$body-color: #2d2b4b;

// change theme color of primary
$primary: #e7128b;

// setting of button
$btn-border-radius: 33px;
$btn-font-family: 'Baloo';
$btn-font-size: 1.5rem;
$btn-font-weight: lighter;
$btn-line-height: 50px;
$btn-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
$btn-padding-x: 20px;
$btn-link-color: #feeef7;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
