body {
  margin: 0;
  background: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  color: #2d2b4b;
}

main {
  min-height: 80vh;
}

a:hover,
a.active {
  text-decoration: none;
}

h3 {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;
  line-height: 128.7%;
  color: #2d2b4b;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1.8rem;
}

.rating span {
  margin: 0.1rem;
}

.rating span {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6)) !important;
}

.rating {
  display: inline-block;
}

h1 {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 128.7%;
  color: #2d2b4b;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;
  line-height: 128.7%;
  color: #2d2b4b;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
}

p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150.9%;
}

.empty-button {
  border: 4px solid #e7128b;
  box-sizing: border-box;
  border-radius: 33px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: fit-content;
  font-size: 1.5rem;
}

.empty-button:hover {
  background: #e7128b !important;
}

.full-button {
  border: none;
  background: #e7128b;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #feeef7 !important;
  font-family: 'Baloo';
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  line-height: 50px;
}

.cake-bcg {
  height: 85vh;
  margin-bottom: -9vh;
  display: grid;
  place-items: baseline;
  background-image: url('./images/bcg-hero.png'),
    url('./images/cupcake-bcg3.png');
  background-position: 110% 100%, 0% 100%;
  background-repeat: no-repeat;
  background-size: 40vmax auto, 30vmax auto;
}

/* general container */
.card-container {
  padding: 20px;
  background: rgb(239, 247, 255) !important;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
  height: fit-content;
  z-index: 100;
}

.card-container img {
  border-radius: 20px 0px 0px 20px;
}

.product-price {
  position: absolute;
  bottom: 3%;
  right: 5%;
}

label {
  font-family: 'Baloo';
  font-weight: normal;
  font-size: 20px;
}

/* Header */
.logo {
  width: 137px;
  height: 101px;
}

.cart-icon {
  width: 37px;
  height: 37px;
}

/* Dropdown */
.cart-dropdown .dropdown-menu {
  width: 30vw;
  padding: 0.5rem 1.5rem;
  background: #eff7ff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.cart-dropdown.menu-narrow .dropdown-menu {
  width: 20vw !important;
}

.cart-dropdown h1 {
  font-size: 30px;
  margin-bottom: 0;
}

.cart-dropdown .dropdown-item:hover {
  color: #e7128b !important;
  background: none;
}

.cart-dropdown .dropdown-item.active {
  background: none;
  color: inherit;
}

.cart-dropdown .dropdown-item i {
  width: 1.5rem !important;
}

.cart-dropdown .dropdown-item {
  padding: 0.25rem !important;
}

.cart-dropdown .dropdown-item span {
  font-weight: 600;
}

.cart-dropdown hr {
  border: 1px solid rgba(45, 43, 75, 0.5);
  display: block;
}

/* .cart-dropdown .user-details {
  color: crimson;
} */

.nav-link {
  font-family: 'Baloo';
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  /* line-height: 50px; */
  color: #2d2b4b !important;
}

/* Cart Items  */
.cart-items-container .details {
  list-style: none;
  padding-left: 0;
}

.cart-items button {
  padding: 0;
  transition: ease-in-out 0.2s;
}

.cart-items button:hover {
  transform: scale(1.2);
}

.cart-items-container .details.details-small {
  font-size: 15px;
}

.cart-items-container h2 {
  margin-bottom: 0;
}

.cart-items-container a {
  margin-bottom: auto;
  margin-top: auto;
  font-family: 'Montserrat' !important;
  font-style: normal;
  font-weight: 700;
  color: #2d2b4b;
}

/* Cart View */

.cart-items {
  background: none;
  margin-bottom: 20px;
}

.cart-view-container h1 {
  border-bottom: 3px solid rgb(45, 43, 75);
}

/* Info Menu */

.info-menu .nav-link.active {
  background-color: #8cafce !important;
}

/* Checkout */

.checkout .disabled {
  color: grey !important;
  cursor: not-allowed !important;
  pointer-events: initial !important;
}

.checkout form label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  color: #2d2b4b;
}

/* Product details  */

.product-details {
  font-size: small;
  padding: 10px;
}

/* Pagination  */

.pagination {
  justify-content: center;
}

/* Dashboard Menu */
.dashboard-main {
  background: rgb(239, 247, 255);
  padding: 40px 60px;
  margin-bottom: 60px;
}
.dashboard-menu {
  padding-right: 0 !important;
}
.dashboard-menu .active {
  background: rgb(239, 247, 255);
  border-radius: 10px 0 0 10px;
}

/* Review Container */
.review-container div {
  background: rgb(239, 247, 255) !important;
}

.review-container {
  background: rgb(239, 247, 255) !important;
  border-radius: 0 0 20px 20px !important;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.1);
  /* filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25)); */
  height: fit-content;
  margin-left: 16px;
  margin-top: -12px;
  padding-top: 20px !important;
}

/* Filter container  */

.filter label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  color: #2d2b4b;
}
